####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
Electrum.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/

# tox files
.cache/
.pytest_cache/
.coverage

electrum_data/
gui/kivy/theming/light-0.png
gui/kivy/theming/light.atlas
Electrum_DASH.egg-info/
