####-*.patch
*.pyc
*.swp
.DS_Store
build/
dist/
electrum_axe/locale/
.devlocaltmp/
*_trial_temp
packages
env*/
env
.tox/
.buildozer/
bin/
/app.fil

# tox files
.cache/
.pytest_cache/
.coverage

electrum_data/
electrum_axe/gui/kivy/theming/light-0.png
electrum_axe/gui/kivy/theming/light-1.png
electrum_axe/gui/kivy/theming/light.atlas
*.egg-info/
