# If you want Dash-Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-dash.desktop

[Desktop Entry]
Comment=Dash-Electrum Wallet
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-dash %u"
GenericName[en_US]=Dash-Electrum
GenericName=Dash-Electrum
Icon=electrum-dash
Name[en_US]=Dash-Electrum Wallet
Name=Dash-Electrum Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/dashpay;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-dash --testnet %u"
Name=Testnet mode
