# If you want Electrum-AXE to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-axe.desktop

[Desktop Entry]
Comment=Lightweight AXE Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-axe %u"
GenericName[en_US]=Electrum-AXE
GenericName=Electrum-AXE
Icon=electrum-axe
Name[en_US]=Electrum AXE Wallet
Name=Electrum AXE Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/axe;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-axe --testnet %u"
Name=Testnet mode
