# If you want Axe Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-axe.desktop

[Desktop Entry]
Comment=Axe Electrum Wallet
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-axe %u"
GenericName[en_US]=Axe Electrum
GenericName=Axe Electrum
Icon=electrum-axe
Name[en_US]=Axe Electrum
Name=Axe Electrum
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/axerunners;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-axe --testnet %u"
Name=Testnet mode
