# If you want electrum-dash to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum_dash.desktop

[Desktop Entry]
Comment=Lightweight Dashpay Client
Exec=electrum-dash %u
GenericName[en_US]=Electrum-DASH
GenericName=Electrum-DASH
Icon=electrum-dash
Name[en_US]=Electrum Dashpay Wallet
Name=Electrum Dashpay Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/dashpay;

