include LICENCE RELEASE-NOTES AUTHORS
include README.rst
include electrum-dash.conf.sample
include electrum-dash.desktop
include *.py
include electrum-dash
include contrib/requirements/requirements.txt
include contrib/requirements/requirements-hw.txt
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
graft debian
graft icons

graft electrum_dash
prune electrum_dash/tests

global-exclude __pycache__
global-exclude *.py[co]
