pyaes==1.6.1
ecdsa==0.13
pbkdf2==1.3
requests==2.5.1
qrcode==5.1
protobuf==2.6.1
dnspython==1.12.0
jsonrpclib==0.1.7
PySocks==1.6.7
git+https://github.com/akhavr/x11_hash@1.4#egg=x11_hash
git+https://github.com/trezor/python-trezor@v0.6.13#egg=trezor
git+https://github.com/keepkey/python-keepkey@v0.7.2#egg=keepkey
git+https://github.com/LedgerHQ/btchip-python.git@v0.1.17#egg=btchip
